.party-logo {
  figure {
    margin: 0;
  }
  img {
    width: 100%;
    max-width: 176px;
    filter: saturate(25%);
  }
  &:hover,
  &:active,
  &:focus {
    img {
      filter: saturate(100%);
    }
  }
}
